/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*проверка поддержки браузером свойтсва text-stroke*/
@supports (-webkit-text-stroke: 1px var(--stroke-color)) or (text-stroke: 1px var(--stroke-color)) {
    .card__image-label {
/*применение обводки к тексту на картинках*/
        text-stroke: 1px var(--stroke-color);
        -webkit-text-stroke: 1px var(--stroke-color);
        text-shadow: none;
    }
}



.page {
    min-inline-size: 320px; 
    min-block-size: 100dvb;
    font-family: var(--main-font), sans-serif;
    font-variation-settings: 'wght' 400; /* управление переменными характеристиками - жирность шрифта */
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    background-size: cover; /*фон на весь экран*/
    background-attachment: fixed; /*фиксация фона при прокрутке*/
}

.header {
    width: 100%;
    padding: 100px 0 0;
    margin-bottom: 100px;
    position: relative; /*относительное позиционирование*/
}


.content_header {
    max-width: 696px;
    margin: 0 auto;
    border: 2px solid var(--border-color);
    background-color: var(--bg-color); 
    padding: 128px 120.5px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2; 
}

.header__title {
    font-family: var(--accent-font), sans-serif;
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /*адапт размер от 49 до 65*/
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    line-height: 1; /*межстрочный интервал*/
}

.header__description {
    font-family: var(--accent-font), sans-serif;
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem) /*адапт размер от 14 до 23*/;
    color: var(--accent-color);
    line-height: 1;
}

.content{
    max-width: 696px;
    margin: 0 auto;
    padding: 0 clamp(10px, 3vw, 20px);
}

.card {
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    margin-bottom: 50px;
    position: relative; 
}


.card__title {
    font-family: var(--main-font), sans-serif;
    font-size: 18px;
    font-variation-settings: 'wght' var(--header-weight);
    padding: 4px 10px;
    border-bottom: 2px solid var(--border-color); /*линия снизу для отделения заголовка от изобр*/
    background-color: var(--bg-color);
    color: var(--accent-color);
    line-height: 1.2;
}

.card__image {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top: none;
}

    .card__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;
    }

.card__image-label {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: var(--accent-font), sans-serif;
    font-size: 14px;
    color: var(--accent-color);
    /*обводка тенью справа-снизу-слева-сверху*/
    text-shadow: 1px 0 var(--stroke-color), 0 1px var(--stroke-color), 
                -1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
    opacity: 0.5; /*полупрозрачность*/
    mix-blend-mode: hard-light; /*смешение с изобр*/
    z-index: 2;
}
/*черно-белый на 75%*/
.image-grayscale {
    filter: grayscale(75%);
}
/*супер насыщенный*/
.image-saturate {
    filter: saturate(400%);
}
/*сдвиг по цветовому кругу на 30 гр */
.image-huerotate {
    filter: hue-rotate(30deg);
}
/*инверсия*/
.image-invert {
    filter: invert(90%);
}

.image-sepia {
    filter: sepia(90%);
}

.image-blur {
    filter: blur(10px);
}

.image-huerotate-opacity {
    filter: hue-rotate(100deg) opacity(70%);
}

.card__content {
    padding: 25px;
    border-top: 2px solid var(--border-color);
}

.card__content-text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: var(--text-weight);
    font-variation-settings: 'wght' var(--text-weight);
    color: var(--accent-color);
    margin-bottom: 27px;
}

    .card__content-text:last-of-type {
        margin-bottom: 25px;
    }

.card__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 5px; /*промежуток между элементами*/
}

.card__icon-button {
    background: transparent; /*прозрачный фон*/
    border: 2px solid transparent; 
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center; /*вертикальный центр*/
    justify-content: center; /*горизонтальный центер*/
    width: 39px;
    height: 36px;
    transition: border-color 0.3s ease; /*плавное в 0.3с изменение цвета рамки  */
}
/*выделение элемента в фокусе*/
    .card__icon-button:focus-visible {
        border-color: var(--accent-color); /*такая-то рамка*/
        outline: none; /*убирает браузерную рамку*/
    }

.card__like-button {
    position: relative;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    padding: 9px 17px;
    font-family: var(--accent-font), sans-serif;
    font-size: 14px;
    cursor: pointer;
    min-width: 130px;
    height: 38px;
    overflow: hidden; /*обрезаем переполнение*/
}
/*создаем доп слой для анимации*/
    .card__like-button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--accent-color);
        transition: width 0.3s ease;
        z-index: 1;
    }
    /*при наведении расширение на всю ширину*/
    .card__like-button:hover::before {
        width: 100%;
    }

.button__text {
    position: relative;
    z-index: 2;
    color: var(--mix-blend-color);
    mix-blend-mode: difference; /*инверсия относительно фона*/
}

.button {
    display: flex;
    justify-content: center;
    padding: 50px 0 100px;
}

.button-remember {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px; /*промежуток между кнопкой и текстой*/
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    padding: 15px 20px;
    font-family: var(--accent-font), sans-serif;
    font-size: 14px;
    cursor: pointer;
    min-width: 335px;
    overflow: hidden; /*образание заполнения*/
}
/*заполение кнопки*/
    .button-remember::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--accent-color);
        transition: width 0.3s ease;
        z-index: 1;
    }

    .button-remember:hover::before {
        width: 100%;
    }

.button__text-rembemer {
    position: relative;
    z-index: 2;
    color: var(--mix-blend-color);
    mix-blend-mode: difference;
}

.floppy {
    position: relative;
    z-index: 2;
    width: 21px;
    height: 21px;
    fill: var(--mix-blend-color);
    mix-blend-mode: difference;
}


.dialog {
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    padding: 30px;
    max-width: 357px;
    min-width: 341px;
    font-family: var(--accent-font), sans-serif;
    color: var(--accent-color);
    text-transform: uppercase;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*сдвиг на половину своих размеров*/
    margin: 0;
    box-sizing: border-box; /*чтобы ширина были и падинг и бордер*/
}

.dialog__flex {
    display: flex;
    align-items: center;
    justify-content: end;

    gap: 20px;
    margin-bottom: 30px;
}

.dialog__flex-text {
    font-size: 14px;
    line-height: 1.5;
}

.floppy-dialog {

    width: 39px;
    height: 39px;
    flex-shrink: 0;
    fill: var(--accent-color);
}

.button-save {
    position: relative;
    width: 100%;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    padding: 15px 20px;
    font-family: var(--accent-font), sans-serif;
    font-size: 14px;
    line-height: 12.6px;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
}

    .button-save::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: var(--accent-color);
        transition: width 0.3s ease;
        z-index: 1;
    }

    .button-save:hover::before {
        width: 100%;
    }

.button-save-text {
    position: relative;
    z-index: 2;
    color: var(--mix-blend-color);
    mix-blend-mode: difference;
}

/*выделение элементов в фокусе*/
.card__like-button:focus-visible,
.button-remember:focus-visible,
.button-save:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--border-color);
}

