/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter', sans-serif;
    --accent-font: 'PressStart2P', 'PressStart2P-Regular', monospace;
    /* Основные цвета */
    --bg-color: #ffffff;
    --accent-color: #000000;
    --border-color: #000000;
    --stroke-color: #ffffff;
    --heart-color: #ff0000;
    /* Цвета для кнопок */
    --mix-blend-color: #ffffff;
    --button-bg-color: #000000;

    /* Веса шрифтов */
    --header-weight: 700;
    --text-weight: 400;
/*градиенты */
    --bg-image: 
        /*горизонтальные полосы*/
      repeating-linear-gradient(
        to right, 
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
        ), 
        /*вертикальные полосы*/
      repeating-linear-gradient(
        to bottom, 
        #d3d3d3 0px,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
        ),
     linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a
    );
}

